%h1 Posts

= notice if notice.present?

- @posts.each do |post|
  .post{style: 'border: solid 1px'}
    .title
      = post.title
      = link_to 'Detail', post_path(post)
    .body
      = post.body
